.headerBg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(189, 194, 237);
}

.logoTxt {
    max-width: 200px; 
    max-height: 150px; 
    margin-left: 2vw;
}
